section {
    background-color: #194D33;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    line-height: 1.5;
    font-weight: bold;
    color: white
}

.title_container {
    padding: 8% 10%;
}