.Navbar {
    padding: 20px 20%;
    background-color: #194D33;
}

.city {
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    z-index: 1;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

section {
    position: relative;
}

.CityBK {
    background-image: url('/src/assets/images/city52.PNG');
}

.Hook {
    width: 100%;
    height: auto;
    padding: 5% 8%;
    background-color: #194D33;
  
}

.hook_title {
    text-align: center;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    line-height: 1.5;
    font-weight: bold;
  
}

.Image {
    width: 45%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.container {
    position: relative;
    text-align: center;
    color: white;
    width: 100%;
}

.City {
    width: 100%;
    height: auto;
}


.download-btn {
    margin: 5% 0%;
    width: 225px;
}
/* 
.features{
    width: 100%;
    background-color: white;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 1px;
    font-weight: 800;
} */
@media(max-width: 420px){
    .Navbar{
        padding:0px ;
    }
}
