.what_is_description {
    padding: 5% 8%;
}


.what_is_it {
    line-height: 1.5;
    font-weight: bold;
    color: white;
    font-size: 3.5rem;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.What_Description {
    margin-top: 5%;
    color: white;
    
}
